<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Racketlon Scoreboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Racketlon Scoreboard</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <%if (locals.user) {%>
                <ul class="nav navbar-nav">
                    <li <%if (locals.menu === 'events') {%>class="active"<%}%>><a href="/events">Evenemang</a></li>
                    <%if (locals.event) {%>
                    <li <%if (locals.menu === 'results') {%>class="active"<%}%>><a href="/events/<%=event.id%>/results">Registrera matchresultat</a></li>
                    <li <%if (locals.menu === 'players') {%>class="active"<%}%>><a href="/events/<%=event.id%>/players">Spelare</a></li>
                    <%}%>
                </ul>
                <%} else { %>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Start</a></li>
                    <li><a href="#rules">Regler</a></li>
                    <li><a href="#account">Skapa konto</a></li>
                </ul>
                <%}%>

                <%if (locals.user) {%>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logga ut</a></li>
                </ul>
                <%} else { %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Logga in</a></li>
                </ul>
                <%}%>
            </div>
        </div>
    </div>

    <%- body %>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
